{% extends 'index.html' %} {% block head %}

<title>
    Login
</title>
<h1>Welcome to the Storybook Creator!!!</h1>
{% endblock %}{% block content %}

<h1>Please log in.</h1>

<form action="/login" method="POST" id="member-login">
    <p>
        Email <input type="text" name="email">
    </p>
    <p>
        Password <input type="password" name="password">

        <input type="submit" id="submit">
    </p>

</form>

<button id='password_help'>
        Password Help
    </button>

<div>
    <h2>New to Storybook Creator? No problem!! Click <a href="/user_registration_route">New User </a> to create an account.</h2>


</div>

{% endblock %}